.h1 {
   background-color: #FFFF00; 
}

.h2 {
    background-color: aqua;
}



input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover, input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus, textarea:hover, textarea:focus, select:hover, select:focus 
{    
    border:2px solid blue;    
    outline:none;
}
.search{
padding:5px;
border:2px solid black;
}